body {
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 100%;
    text-align: center;
}

th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}


img {
    width: 150px;
}

